{% if logos is defined and logos|length %}
  <div class="nukhba-installment-logos">
    {% for logo in logos %}
      {% if logo.image %}
        <span class="nukhba-installment-logos__item">
          <img src="{{ logo.image }}" alt="{{ logo.alt ?: store.name }}" loading="lazy" width="84" height="28" />
        </span>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
